[branch]
  sort = -committerdate

[column]
  ui = auto

[core]
  editor = vim
  excludesfile = ~/.gitignore

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[include]
  path = ./.gitconfig-local

[init]
  defaultBranch = main

[pull]
  ff = only

[push]
  autoSetupRemote = true

[submodule]
  recurse = true

[tag]
  sort = version:refname
