[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".config/themes/osx-terminal.app-colors-solarized"]
	path = .config/themes/osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized.git
	shallow = true
[submodule ".vim/pack/appearance/start/vim-airline"]
	path = .vim/pack/appearance/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	shallow = true
[submodule ".vim/pack/appearance/start/vim-airline-themes"]
	path = .vim/pack/appearance/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	shallow = true
[submodule ".vim/pack/appearance/start/vim-colors-solarized"]
	path = .vim/pack/appearance/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	shallow = true
[submodule ".vim/pack/extensions/start/nerdcommenter"]
	path = .vim/pack/extensions/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	shallow = true
[submodule ".vim/pack/extensions/start/syntastic"]
	path = .vim/pack/extensions/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
