[submodule ".config/themes/osx-terminal.app-colors-solarized"]
	path = .config/themes/osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized.git
[submodule ".vim/autoload/vim-plug"]
	path = .vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
