[user]
    name = Adrian Trunzo
    email = adrian@adriantrunzo.com
[core]
    editor = vim
    excludesfile = ~/.gitignore-global
[color]
    status = auto
    diff = auto
    branch = auto
[push]
	default = simple
